@supports(display: flex){
    .hidden{
        opacity: 0;
    }
    
    .left, .right{
        float: none;
    }

    .button{
        margin: 0;
    }

    /* images */
    main>section:nth-child(3)>a>img{
        opacity: 0;
        transition:opacity 1s linear;
        position: absolute;
    }

    /* first image */
    main>section:nth-child(3)>a>img:nth-child(1){
        opacity: 1;
        position: relative;
    }

    /* first section element should not be flex */
    main>section:not(:nth-child(1)){
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;
    }

    /* Image description text */
    main>section:nth-child(4)>p{
        max-width: 100%;
        margin-left: 0;
    }
}