/* STATIC CHANGES */

body{
  font-size: 2rem;
  margin: 0;
}

img{
  width: 100%;
  max-height: 68vh;
  margin-top: 9px;
}

p{
  margin: 0;
}

.left{
  float: left;
}

.right{
  float: right;
}

/* WEBPAGE */

main{
  max-height: 100vh;
}

/* Image description container */
main>section:nth-child(1)>*:nth-child(1){
  margin-left: 5px;
  text-decoration: none;
}

/* Image description container */
main>section:nth-child(3){

}

.button{
  color: black;
  background-color: aqua;
  border: 2px solid black;
  padding: 0 5px 0 5px;
  margin: 0 5px 0 5px;
  text-decoration: none;
  border-radius: 4rem;
  min-width: 38%;
  text-align: center;
}

/* Image description text */
main>section:nth-child(3)>p{
  margin-top: 0.4rem;
  max-width: 50%;
  margin-left: 5px;
}

